<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tinyu.cloud.mapper.OrderMapper">

    <insert id="insert" parameterType="com.tinyu.cloud.entity.OrderEntity">
	    insert into t_order
	    	(userid,productid,amount,money,state)
		values
			(#{userid},#{productid},#{amount},#{money},#{state})
	</insert>

	<update id="updateState" parameterType="java.util.Map">
	    update t_order
	    set state = 1
	    where userid = #{userid} and productid = #{productid}
	</update>

</mapper>